@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<div class="popup" onclick="myFunction()">
    Click me!
    <span class="popuptext" id="myPopup">Popup text...</span>
</div>
