table {
    border-collapse: separate;
    border-spacing: 0 0px;
}

th {
    background-color: #4287f5;
    color: white;
}

th,
td {
    width: 150px;
    text-align: left;
    border: 1px solid black;
    padding: 5px;
}

h2 {
    color: #4287f5;
}
